@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.nav-link{
    color: white;

}

.btn{
    width: 300px;

}

nav{
    font-size: 20px;

}

body{
    background-color: rgb(247, 92, 31);


}

.preço-parcelado{
    font-size: 15px;
    

}

.card-title{
    font-size: 18px;
    font-weight: bold;

}


.preço-a-vista{
    font-weight: bold;


}

.list-group-item:hover{
    background-color: #1E90FF;
    color: white;


}


